<header class="bg-indigo-600 flex py-4 justify-center">
  <span class="text-white font-bold text-3xl">Principles SOLID And Advanced Angular</span>
</header>
<main class="container mx-auto my-10">
  <section>
    <h1>Table</h1>
    <app-table [displayedColumns]="['name','age','email']" [data]="dataSource"></app-table>
  </section>
  <hr class="my-4">
  <section>
    <h1>Table + Paginator</h1>
    <app-table [isPaginator]="true" [pageSizeOptions]="[5,15,25,100]" [displayedColumns]="['name','age','email']" [data]="dataSource"></app-table>
  </section>
  <hr class="my-4">
  <section>
    <h1>Table + Sort</h1>
    <app-table [isSort]="true" [displayedColumns]="['name','age','email']" [data]="dataSource"></app-table>
  </section>
  <hr class="my-4">
  <section class="my-10">
    <h1>Table + Filter</h1>
    <app-table-filter [matTableDataSource]="tableFilter.dataSource"
    ></app-table-filter>
    <app-table #tableFilter [displayedColumns]="['name','age']" [data]="dataSource"></app-table>
  </section>
  <hr class="my-4">
  <section class="my-10">
    <h1>Table + Export</h1>
    <div class="flex my-4 gap-x-5">
      <app-table-export [matTableDataSource]="tableExport.dataSource"></app-table-export>
    </div>
    <app-table #tableExport [displayedColumns]="['name','age','email']" [data]="dataSource"></app-table>
  </section>
  <hr class="my-4">
  <section class="my-10">
    <h1>Table Filter + Export Excel</h1>
    <div class="flex-col  my-4 gap-x-5">
      <app-table-filter class="w-full" [predicate]="predicate" [classes]="'flex gap-x-5 !w-full'" [matTableDataSource]="tableExportFilter.dataSource" [items]="itemsForm"></app-table-filter>

      <app-table-export [label]="'Descargar Excel'" [matTableDataSource]="tableExportFilter.dataSource"></app-table-export>
    </div>
    <app-table [isSort]="true" #tableExportFilter [displayedColumns]="['name','age','email','status']" [data]="dataSource"></app-table>
  </section>
  <hr class="my-4">
  <section class="my-10">
    <h1>Table Filter + Export Excel + Paginator</h1>
    <div class="flex-col  my-4 gap-x-5">
      <app-table-filter class="w-full" [predicate]="predicate" [classes]="'flex gap-x-5 !w-full'" [matTableDataSource]="tableExportFilterPaginator.dataSource" [items]="itemsForm"></app-table-filter>

      <app-table-export [label]="'Descargar Excel'" [matTableDataSource]="tableExportFilterPaginator.dataSource"></app-table-export>
    </div>
    <app-table [isPaginator]="true" [pageSizeOptions]="[5,15,25,100]" [isSort]="true" #tableExportFilterPaginator [displayedColumns]="['name','age','email','status']" [data]="dataSource"></app-table>
  </section>
</main>

