

<form [formGroup]="formGroup" *ngIf="items.length >=1" [class]="classes">
  <ng-container *ngFor="let item of items">
    <mat-form-field *ngIf="item.type === 'input'" [class]="item.classes">
      <mat-label>{{
        item.label | titlecase
        }}</mat-label>
      <input matInput  [placeholder]="item.placeholder" [formControlName]="item.name">
    </mat-form-field>
    <mat-form-field *ngIf="item.type === 'select'" [class]="item.classes">
      <mat-label>
        {{
        item.label | titlecase
        }}
      </mat-label>
      <mat-select [formControlName]="item.name" [placeholder]="item.placeholder">
        <mat-option *ngFor="let itemValue of item.itemValue" [value]="itemValue.value">
          {{itemValue.label | titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
</form>
